/* font face */
@font-face {
    font-family: 'Raleway';
    src: url('../font/raleway-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/*@font-face {
    font-family: 'Encode Sans';
    src: url('../font/encodesans-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}*/
@font-face {
    font-family: 'Raleway';
    src: url('../font/raleway-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/*@font-face {
    font-family: 'Encode Sans';
    src: url('../font/encodesans-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}*/

/* custom helper */
.text-left {text-align:left}
.text-center {text-align:center}
.text-right {text-align:right}

.text-bold {font-weight:700}

.float-left {float:left}
.float-right {float:right}

.list:before, .list:after, .clear:before, .clear:after {content:" ";display:table}
.list:after, .clear:after {clear:both}

.list {list-style:none; margin:0; padding:0}
.list-float > li {float:left}
.list-inline > li {display:inline-block}

.mt-5 {margin-top:5px}
.mr-5 {margin-right:5px}
.mb-5 {margin-bottom:5px}
.ml-5 {margin-left:5px}

.mt-10 {margin-top:10px}
.mr-10 {margin-right:10px}
.mb-10 {margin-bottom:10px}
.ml-10 {margin-left:10px}

.mt-20 {margin-top:20px}
.mr-20 {margin-right:20px}
.mb-20 {margin-bottom:20px}
.ml-20 {margin-left:20px}

.img-responsive {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}

.box {
	width:100%;
	box-sizing: border-box;
}

/*
	MS rip
	dark blue - 244C65
	lite blue - 68CFCE
	green - 27AE61
	red - FF4B5C
	
	experimental
	dark purple - 544588
	lighter purple - 847BA2
	orange - F58339
	darker orange - F37220
	bluish light gray - eef1f2
	off-black - 222
	almost-black - 0a0a0a
*/

html {
	font-family:"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size:18px; background-color:#222; color:#f8f8f8; line-height:1.5; min-width:320px;	
}
a {text-decoration:none}
h1, h2, h3, h4, h5, h6 {font-weight:400; margin:0}
p {margin:0 0 15px 0}
form {display:block}

#title > h1{
	font-size:48px;
}

.title-text{
	font-size:20px;
	background-color: #1D3328;
	color: #f8f8f8;
	border:0;
	margin:0;
	padding: 10px;
}

.note{
	resize:none;
	background-color:#223B2E;
	color:#f8f8f8;
	border:0;
	margin:0 0 20px 0;
	padding:10px;
	min-height:300px;
}

/* xs specific responsive-ness */
@media (max-width:767px) {
	html {font-size:14px}	
}

/* responsive-ness upscale */
@media (min-width:768px) { /* sm and above */	
	html {font-size:14px}	
}

@media (min-width:992px) { /* md and above */
	.text-md-left {text-align:left}
	.text-md-right {text-align:right}
	.text-md-center {text-align:center}
	
	html {font-size:16px}
}

@media (min-width:1200px) { /* lg and above */
	
}

/* responsive-ness downscale */
@media (max-width:991px) { /* sm and below */
	.text-sm-left {text-align:left}
	.text-sm-right {text-align:right}
	.text-sm-center {text-align:center}
}

@media (max-width:1199px) { /* md and below */
	
}
